@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Raúl Company</h1>
    <h2>Soy desarrollador de .NET y SQL Server</h2>

    <img style="width: 200px; margin: 2rem 0;border-radius:50%;" src="~/img/logo.jpg" alt="Soy Raúl Company"/>
</div>